.epoxy-html.recalculating { opacity: 1; }

.epoxy-html.recalculating [data-epoxy-item],
.epoxy-html.recalculating [data-epoxy-copy] {
  animation-name: epoxy-pulse;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes epoxy-pulse {
  0% { opacity: 1; }
  100% { opacity: 0.3; }
}

.epoxy-html .epoxy-item__error {
  text-decoration-style: wavy;
  text-decoration-color: red;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
}
